@font-face {
  font-family: "Philosopher";
  src: url("./fonts/Philosopher-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Philosopher";
  src: url("./fonts/Philosopher-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Philosopher", serif;
}
